

<!DOCTYPE html>
<html lang="en" style="background-image: linear-gradient( 178deg,  rgba(201,234,252,0.51) 14.9%, rgba(139,192,216,0.73) 80% );">

    <head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - centroOdontologico</title>      
    <link rel="stylesheet" href="~/template/css/app.css"/>


</head>
<body>

    <div class="container" >
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>
</html>

